*{
box-sizing:border-box;
}
body{
background-color:#D3D3D3;
margin: 0;
}
h3,header{
background-color:#00008B;
color:white;
}
header h2{
margin-bottom:0;
margin-left:15px;
}
div.column{
width:50%;
float:left;
} 
header{
padding-top:5px;
padding-bottom:5px;
}
nav{
background-color:#6495ED;
margin-bottom:80px
}
nav:after{
 content: "";
 clear: both;
 display: table;
}
div.link{
background-color:#00008B;
font-weight:bold;
padding: 20px 20px;
border-radius:20px;
float:left;
margin:10px 40px;
}
div.link:hover{
background-color:#DC143C;
}
div.info{
width:100%;
border: 3px solid #000000;
margin-left:15px;
margin-bottom:150px;
display:block;
text-align:justify;
}
h3{
margin-top:0;
width:100%;
padding: 10px;
}
div.sides{
width:30%;
float:left;
border: 3px solid #000000;
margin-left:15px;
display:block;
text-align:justify;
}
img{
width:350px;
height:400px;
display: block;
margin-bottom:30px;
margin-left: auto;
margin-right: auto;
}
div.return_to_top{
float:right;
margin-top:30px;
margin-bottom:10px;
margin-right:10px;
background-color:#00008B;
font-weight:bold;
border-radius:20px;
padding: 20px 30px;
}
div.return_to_top:hover{
background-color:#DC143C;
}
a{
text-decoration:none;
color:white;
}
p{
padding-left:15px;
padding-right:15px;
}

